table {
  width: 100%;
}

.member-number {
  color: rgb(121, 121, 121);
}

.unavailable-chat-room {
  font-style: italic;
}

.merged-btn-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.merged-btn-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  padding-right: 5px;
  padding-left: 5px;
  min-width: auto;
}

.container {
  display: flex;

  .spacer {
    flex: 1 1 auto;
  }
}
