<div class="snackbar-container">
  <span matSnackBarLabel>
    @if (data.summary) {
      <b>New release:</b> {{ data.summary }}
    } @else {
      Bondage Club Tools was updated to v{{ extensionVersion }}
    }
  </span>
  <span matSnackBarActions>
    <button mat-raised-button
            matSnackBarAction
            color="accent"
            (click)="showChangelog()">Full changelog</button>
    <button mat-raised-button
            matSnackBarAction
            color="primary"
            (click)="snackBarRef.dismissWithAction()">Dismiss</button>
  </span>
</div>
