<div class="snackbar-container">
  <span matSnackBarLabel>
    <b>New release:</b> Added shared rooms and beep messages, various bug fixes
  </span>
  <span matSnackBarActions>
    <button mat-raised-button
            matSnackBarAction
            color="accent"
            (click)="showChangelog()">Full changelog</button>
    <button mat-raised-button
            matSnackBarAction
            color="primary"
            (click)="snackBarRef.dismissWithAction()">Dismiss</button>
  </span>
</div>
