<div class="snackbar-container">
  <span matSnackBarLabel>
    <b>New release:</b> Updated for genders and pronouns, remove appearance data options, and more.
  </span>
  <span matSnackBarActions>
    <button mat-raised-button
            matSnackBarAction
            color="accent"
            (click)="showChangelog()">Full changelog</button>
    <button mat-raised-button
            matSnackBarAction
            color="primary"
            (click)="dismiss()">Dismiss</button>
  </span>
</div>
