<div class="line">
  <time [attr.datetime]="chatLog.timestamp">{{ chatLog.timestamp.toLocaleString() }}</time>
  <ng-container [ngSwitch]="chatLog.type">
    <ng-container *ngSwitchCase="'Chat'">
      <span class="sender" [ngStyle]="{ color: getColor(chatLog.sender.color) }">{{ chatLog.sender.name }}: </span>
      <span class="content">{{ chatLog.content }}</span>
    </ng-container>
    <ng-container *ngSwitchCase="'Whisper'">
      <span [ngStyle]="{ 'font-style': 'italic', color: getColor(chatLog.sender.color) }">{{ chatLog.sender.name }}: </span>
      <span class="content" style="font-style: italic">{{ chatLog.content }}</span>
    </ng-container>
    <ng-container *ngSwitchCase="'Emote'">
      <span [ngStyle]="{ 'background-color': getLighterColor(chatLog.sender.color) }">*{{ chatLog.sender.name }} {{ chatLog.content }}*</span>
    </ng-container>
    <ng-container *ngSwitchCase="'Action'">
      <span [ngStyle]="{ 'background-color': getLighterColor(chatLog.sender.color) }">({{ chatLog.content }})</span>
    </ng-container>
    <ng-container *ngSwitchCase="'ServerMessage'">
      <span [ngSwitch]="chatLog.content" style="font-weight: bold">
        <ng-container *ngSwitchCase="'OfferStartTrial'">{{ chatLog.sender.name }} is offering {{ chatLog.session.name }} to start a trial period as her submissive.</ng-container>
        <ng-container *ngSwitchCase="'StartTrial'">The Bondage Club is pleased to announce that {{ chatLog.sender.name }} is starting a 3 days minimum trial period as a submissive.</ng-container>
        <ng-container *ngSwitchCase="'OfferEndTrial'">{{ chatLog.sender.name }} has prepared a great collaring ceremony. A maid brings a slave collar, which her submissive must consent to wear.</ng-container>
        <ng-container *ngSwitchCase="'EndTrial'">The Bondage Club is proud to announce that {{ chatLog.sender.name }} is now fully collared. Her fate is in her Mistress' hands.</ng-container>
        <ng-container *ngSwitchDefault>{{ chatLog.content }}</ng-container>
      </span>
    </ng-container>
  </ng-container>
</div>
