@let member = member$ | async;
@let appearance = appearance$ | async;

<ng-container [formGroup]="memberForm" *ngIf="member">
  <div class="character-sheet" [ngClass]="{'with-appearance': !!appearance, 'without-appearance': !appearance}">
    <div *ngIf="appearance" class="character-appearance" [ngStyle]="imageContainerStyle">
      <img #appearanceImage [src]="appearance.appearance || ''" [ngStyle]="imageStyle" (load)="calculateAppearanceImageStyles(appearance.appearanceMetaData, $event.target)" />
    </div>
    <mat-toolbar class="navigation">
      <a mat-button [routerLink]="['/', this.playerCharacter]">
        <mat-icon>arrow_back_ios</mat-icon>
        Back to overview
      </a>
    </mat-toolbar>
    <mat-toolbar class="character-name">
      <h1 [ngStyle]="{ color: member.labelColor || 'inherit' }" [attr.title]="member.normalizedNickname">{{ member.nickname || member.memberName }}</h1>
    </mat-toolbar>
    <div class="character-data">
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>transgender</mat-icon>
          <h3 matListItemTitle>Pronouns</h3>
          <span matListItemLine *ngIf="member.pronouns">{{ pronouns(member) }}</span>
          <span matListItemLine *ngIf="!member.pronouns" class="empty-value">Unknown</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>textsms</mat-icon>
          <h3 matListItemTitle>Title</h3>
          <span matListItemLine>{{ title(member) | async }}</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>psychology</mat-icon>
          <h3 matListItemTitle>{{ member.dominant < 0 ? 'Submissive' : 'Dominant' }}</h3>
          <span matListItemLine>{{ member.dominant ? absolute(member.dominant) + '%' : 'Neutral' }}</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>settings</mat-icon>
          <h3 matListItemTitle>Difficulty</h3>
          <span matListItemLine *ngIf="member.difficulty">{{ difficulty(member.difficulty) }}</span>
          <span matListItemLine *ngIf="!member.difficulty" class="empty-value">Unknown</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>access_time</mat-icon>
          <h3 matListItemTitle>Last Seen</h3>
          <ng-container *ngIf="member.lastSeen; else noLastSeen" ngProjectAs="[matListItemLine]">
            <span matListItemLine>{{ member.lastSeen | date:'MMM d, y, h:mm a' }}</span>
            <span matListItemLine>({{ timeToDays(member.lastSeen) }} days ago)</span>
          </ng-container>
          <ng-template #noLastSeen>
            <span matListItemLine class="empty-value">Unknown</span>
          </ng-template>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>person_add</mat-icon>
          <h3 matListItemTitle>Join Date</h3>
          <ng-container *ngIf="member.creation; else noCreation" ngProjectAs="[matListItemLine]">
            <span matListItemLine>{{ member.creation | date:'MMM d, y, h:mm a' }}</span>
            <span matListItemLine>({{ timeToDays(member.creation) }} days ago)</span>
          </ng-container>
          <ng-template #noCreation>
            <span matListItemLine class="empty-value">Unknown</span>
          </ng-template>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>format_list_numbered</mat-icon>
          <h3 matListItemTitle>Member Number</h3>
          <span matListItemLine>{{ member.memberNumber }}</span>
        </mat-list-item>
        <mat-list-item *ngIf="member.nickname">
          <mat-icon matListItemIcon>person</mat-icon>
          <h3 matListItemTitle>Account name</h3>
          <span matListItemLine>{{ member.memberName }}</span>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="main">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="selectedTab">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>description</mat-icon>
            Description
          </ng-template>
          <div class="description">{{ decompress(member.description) }}</div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>edit_note</mat-icon>
            Notes
          </ng-template>
          <textarea formControlName="notes" class="notes"></textarea>
        </mat-tab>
        <mat-tab *ngIf="playerCharacter !== member.memberNumber">
          <ng-template mat-tab-label>
            <mat-icon>join_inner</mat-icon>
            Shared Rooms
          </ng-template>
          <ng-template matTabContent>
            <div class="shared-rooms">
              @let sharedRooms = sharedRooms$ | async;
              <mat-list>
                @for (room of sharedRooms; track $index) {
                  <mat-list-item>
                    <span matListItemTitle><a [routerLink]="['/', playerCharacter, room.sessionId, room.chatRoom]">{{ room.chatRoom }}</a></span>
                    <span matListItemLine><time [attr.datetime]="room.startDate">{{ room.startDate | date:'MMM d, y, h:mm a' }}</time></span>
                  </mat-list-item>
                }
              </mat-list>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab *ngIf="playerCharacter !== member.memberNumber">
          <ng-template mat-tab-label>
            <mat-icon>chat</mat-icon>
            Beep Messages
          </ng-template>
          <ng-template matTabContent>
            <div class="beep-messages">
              @let beepMessages = beepMessages$ | async;
              @for (message of beepMessages; track $index) {
                @if (message.break) {
                  <mat-divider />
                } @else {
                  @let label = message.direction === 'Incoming' ? 'Received message' : 'Sent message';
                  @let icon = message.direction === 'Incoming' ? 'mail' : 'outgoing_mail';

                  <mat-card appearance="outlined" [class]="['beep-message', message.direction.toLocaleLowerCase()]">
                    <mat-card-header>
                      <div mat-card-avatar><mat-icon inline="true" [attr.aria-label]="label" [attr.title]="label">{{ icon }}</mat-icon></div>
                      <mat-card-title>{{ label }}</mat-card-title>
                      <mat-card-subtitle><time [attr.datetime]="message.timestamp">{{ message.timestamp | date:'MMM d, y, h:mm a' }}</time></mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>{{ message.message }}</mat-card-content>
                  </mat-card>
                }
              }
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="relationships">
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>supervisor_account</mat-icon>
          <h3 matListItemTitle>Owner</h3>
          @if (!member.ownership) {
            <span matListItemLine class="empty-value">None</span>
          }
        </mat-list-item>
        @if (member.ownership) {
          <mat-list-item class="relationship">
            @if (member.ownership.memberNumber) {
              <ng-container ngProjectAs="[matListItemLine]">
                <h3 matListItemTitle>{{ member.ownership.name }} ({{ member.ownership.memberNumber }})
                  <a [routerLink]="['/', playerCharacter, 'member', member.ownership.memberNumber]" [title]="'Read about ' + member.ownership.name"><mat-icon [attr.aria-label]="'Read about ' + member.ownership.name">read_more</mat-icon></a>
                </h3>
                <span matListItemLine>{{ ownershipStageToName(member.ownership.stage) }} for {{ timeToDays(member.ownership.start) }} days</span>
                <span matListItemLine>(since {{ member.ownership.start | date }})</span>
              </ng-container>
            } @else {
              <span matListItemLine>{{ member.ownership.name | slice:4 }}</span>
            }
          </mat-list-item>
        }
        <mat-list-item>
          <mat-icon matListItemIcon>favorite</mat-icon>
          <h3 matListItemTitle>Lovers</h3>
          @if (!member.lovership || member.lovership.length === 0) {
            <span matListItemLine class="empty-value">None</span>
          }
        </mat-list-item>
        @if (member.lovership && member.lovership.length > 0) {
          <ng-container *ngFor="let lover of member.lovership" ngProjectAs="mat-list-item">
            <ng-container *ngIf="lover.memberNumber; else npcLover">
              <mat-list-item class="relationship">
                <h3 matListItemTitle>{{ lover.name }} ({{ lover.memberNumber }})
                  <a [routerLink]="['/', playerCharacter, 'member', lover.memberNumber]" [title]="'Read about ' + lover.name"><mat-icon [attr.aria-label]="'Read about ' + lover.name">read_more</mat-icon></a>
                </h3>
                <span matListItemLine>{{ lovershipStageToName(lover.stage) }} for {{ timeToDays(lover.start) }} days</span>
                <span matListItemLine>(since {{ lover.start | date }})</span>
              </mat-list-item>
            </ng-container>
            <ng-template #npcLover>
              <mat-list-item class="relationship">
                <h3 matListItemTitle>{{ lover.name | slice:4 }} (NPC)</h3>
              </mat-list-item>
            </ng-template>
          </ng-container>
        }
      </mat-list>
    </div>
  </div>
</ng-container>
