@use '@angular/material' as mat;

.character-sheet {
  display: grid;
  grid-template-rows: 64px auto;

  &.with-appearance {
    grid-template-columns: 350px auto 1fr auto;
  }

  &.without-appearance {
    grid-template-columns: auto 1fr auto;

    .character-data {
      padding-left: 16px;
    }
  }
}

.character-appearance {
  grid-row: span 2 / auto;
}

.navigation {
  border-bottom-left-radius: 10px;
}

.character-name {
  grid-column: span 2 / auto;
  padding: 0;

  h1 {
    line-height: 64px;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px grey;
  }
}

.character-data {
  min-width: 210px;
  margin-right: 24px;
  background: linear-gradient(90deg, rgba(255, 248, 248, 0.1) 0%, rgba(255, 248, 248, 0.7) 13%, rgba(255, 248, 248, 0.9) 30%);
}

.empty-value {
  font-style: italic;
}

.main {
  margin-right: 24px;

  .description {
    margin-top: 5px;
    margin-bottom: 1em;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }

  .notes {
    height: 600px;
    width: calc(100% - 6px);
  }

  .shared-rooms {
    margin-top: 5px;

    @include mat.theme((
      density: -3
    ));
  }

  .beep-messages {
    margin-top: 5px;

    .beep-message {
      &.incoming {
        background-color: var(--mat-sys-primary-container);
        color: var(--mat-sys-on-primary-container);
      }

      &.outgoing {
        background-color: var(--mat-sys-secondary-fixed-dim);
        color: var(--mat-sys-on-secondary-container);
      }

      mat-card {
        border-color: var(--mat-sys-outline);
      }

      mat-icon {
        font-size: var(--mat-sys-headline-large-line-height);
      }
    }
  }
}

.relationships {
  justify-self: end;
  min-width: 210px;
  margin-left: 24px;

  h3 + span.empty-value {
    margin-top: -20px;
  }

  .relationship {
    padding-left: 0;

    mat-icon {
      margin-bottom: -6px;
    }
  }
}

mat-list {
  padding-top: 0;

  mat-icon {
    margin-left: 0;
    margin-right: 12px;
  }
}
