.description {
  font-size: 16px;
  font-family: Arial;
  white-space: pre-wrap;
}

.member-name {
  text-shadow: 1px 1px 1px grey;
}

.empty-value {
  font-style: italic;
}

.notes {
  font-size: 16px;
  font-family: Arial;
  height: 100%;
  width: calc(100% - 6px);
}
