.description {
  font-size: 16px;
  font-family: Arial;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.member-name {
  text-shadow: 1px 1px 1px grey;
}

.empty-value {
  font-style: italic;
}

.notes {
  font-size: 16px;
  font-family: Arial;
  height: 600px;
  width: calc(100% - 6px);
}

.relationship {
  white-space: normal !important;

  .relationship-stage {
    white-space: normal !important;
    margin-left: 10px;
  }
}
