<mat-toolbar>
  <span class="member-name" [ngStyle]="{ color: member.labelColor || 'inherit' }">{{ member.memberName }}</span>
</mat-toolbar>
<ng-container [formGroup]="memberForm">
  <div fxLayout="row" fxLayoutAlign="none">
    <div fxFlex="0 0 450px">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>format_list_numbered</mat-icon>
          <div mat-line>Member Number</div>
          <div mat-line>{{ member.memberNumber }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>people</mat-icon>
          <div mat-line>Relation</div>
          <div mat-line>{{ member.type }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>access_time</mat-icon>
          <div mat-line>Last Seen</div>
          <div mat-line *ngIf="member.lastSeen; else noLastSeen">{{ member.lastSeen | date }}</div>
          <ng-template #noLastSeen>
            <div mat-line class="empty-value">Unknown</div>
          </ng-template>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>person_add</mat-icon>
          <div mat-line>Join Date</div>
          <div mat-line *ngIf="member.creation; else noCreation">{{ member.creation | date }}</div>
          <ng-template #noCreation>
            <div mat-line class="empty-value">Unknown</div>
          </ng-template>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>textsms</mat-icon>
          <div mat-line>Title</div>
          <div mat-line>{{ member.title }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>psychology</mat-icon>
          <div mat-line>{{ member.dominant < 0 ? 'Submissive' : 'Dominant' }}</div>
          <div mat-line>{{ member.dominant ? absolute(member.dominant) + '%' : 'Neutral' }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>favorite</mat-icon>
          <div mat-line>Lovers</div>
          <div mat-line *ngFor="let lover of member.lovership">
            {{ lover.name }} ({{ lover.memberNumber }}): {{ lovershipStageToName(lover.stage) }} for
            {{ timeToDays(lover.start) }} days (since {{ lover.start | date }})
          </div>
          <div mat-line *ngIf="!member.lovership || member.lovership.length === 0" class="empty-value">None</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <div mat-line>Owner</div>
          <div mat-line *ngIf="member.ownership; else noOwner">
            {{ member.ownership.name }} ({{ member.ownership.memberNumber }}):
            {{ ownershipStageToName(member.ownership.stage) }} for {{ timeToDays(member.ownership.start) }} days (since
            {{ member.ownership.start | date }})
          </div>
          <ng-template #noOwner>
            <div mat-line class="empty-value">None</div>
          </ng-template>
        </mat-list-item>
      </mat-list>
    </div>
    <div fxFlex="auto">
      <h2>Description</h2>
      <div class="description">{{ member.description }}</div>
    </div>
    <div fxFlex="0 0 300px">
      <h2>Notes</h2>
      <textarea formControlName="notes" class="notes" style=""></textarea>
    </div>
  </div>
</ng-container>
