.character-sheet {
  display: grid;
  grid-template-columns: 500px 240px 1fr 1fr;
  gap: 0px 5px;
  grid-template-rows: 64px auto;
}

.character-appearance {
  grid-row: span 2 / auto;
}

.character-name {
  grid-column: span 3 / auto;
}

.description {
  font-size: 16px;
  font-family: Arial;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.member-name {
  text-shadow: 1px 1px 1px grey;
}

.empty-value {
  font-style: italic;
}

.notes {
  font-size: 16px;
  font-family: Arial;
  height: 600px;
  width: calc(100% - 6px);
}

.relationship {
  white-space: normal !important;

  .relationship-stage {
    white-space: normal !important;
    margin-left: 10px;
  }
}
