<mat-toolbar>Options</mat-toolbar>
<ng-container [formGroup]="settingsForm">
  <mat-list formGroupName="notifications">
    <h2 matSubheader>Notifications</h2>
    <mat-form-field style="padding-left: 16px">
      <mat-label>Extra keywords to notify for</mat-label>
      <mat-chip-list #chipList formControlName="keywords">
        <mat-chip *ngFor="let keyword of notifyKeywordsControl.value"
                  [removable]="true"
                  (removed)="removeKeyword(keyword)">
          {{ keyword }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="New keyword..."
               [matChipInputFor]="chipList"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addKeyword($event)">
      </mat-chip-list>
    </mat-form-field>
    <mat-divider></mat-divider>
  </mat-list>
  <mat-list formGroupName="tools">
    <h2 matSubheader>Tools</h2>
    <p matSubheader class="warning">
      <mat-icon>warning</mat-icon>
      You need to reload the game after changing these settings.
    </p>
    <mat-list-item>
      <mat-label>Automatically refresh chat room search every:</mat-label>
    </mat-list-item>
    <mat-list-item>
      <div class="chat-room-selection">
        <mat-select formControlName="chatRoomRefreshInterval">
          <mat-option *ngFor="let interval of chatRoomRefreshIntervals" [value]="interval">
            {{interval === 0 ? 'Off' : formatInterval(interval)}}
          </mat-option>
        </mat-select>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</ng-container>
<ng-container [formGroup]="dataForm">
  <mat-list>
    <h2 matSubheader>Data</h2>
    <mat-list-item>
      Total size of database: {{ databaseSize$ | async }}
    </mat-list-item>
    <mat-list-item *ngIf="exportProgress === undefined">
      <button mat-button
              mat-stroked-button
              color="primary"
              (click)="downloadDatabase()"
              >Export database</button>
      <label>
        <input type="checkbox" formControlName="exportAppearances">
        Include appearances (can be a lot of data, slows down export)
      </label>
    </mat-list-item>
    <mat-list-item *ngIf="exportProgress !== undefined">
      <p matLine>{{ exportProgress.text }}...</p>
      <mat-progress-bar matLine
                        mode="determinate"
                        [value]="exportProgress.percentage"
                        ></mat-progress-bar>
    </mat-list-item>
    <mat-list-item *ngIf="importProgress === undefined">
      <button mat-button
              mat-stroked-button
              color="primary"
              (click)="uploadDatabase()"
              >Import database</button>
    </mat-list-item>
    <mat-list-item *ngIf="importProgress !== undefined">
      <p matLine>{{ importProgress.text }}...</p>
      <mat-progress-bar matLine
                        mode="determinate"
                        [value]="importProgress.percentage"
                        ></mat-progress-bar>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</ng-container>
<ng-container>
  <mat-list>
    <h2 matSubheader>Danger zone</h2>
    <mat-list-item>
      <mat-label>Appearances take up a lot of space, you can remove them while leaving other data intact here:</mat-label>
    </mat-list-item>
    <mat-list-item>
      <button mat-button
              mat-stroked-button
              color="warn"
              (click)="clearAppearances()"
              >Delete appearances</button>
    </mat-list-item>
    <mat-list-item>
      <mat-label>If you wish to wipe all data and start clean, you can do so here:</mat-label>
    </mat-list-item>
    <mat-list-item>
      <button mat-button
              mat-stroked-button
              color="warn"
              (click)="clearDatabase()"
              >Delete database</button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</ng-container>
