<mat-toolbar>Options</mat-toolbar>
<ng-container [formGroup]="settingsForm">
  <mat-list formGroupName="notifications">
    <h2 matSubheader>Notifications</h2>
    <mat-list-item>
      <mat-checkbox formControlName="beeps">
        Beeps
      </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox formControlName="friendOnline">
        Friend online
      </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox formControlName="friendOffline">
        Friend offline
      </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox formControlName="actions">
        Actions done on you
      </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox formControlName="mentions">
        Somebody mentions you
      </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox formControlName="whispers">
        Received a whisper
      </mat-checkbox>
    </mat-list-item>
    <mat-form-field style="padding-left: 16px">
      <mat-label>Extra keywords to notify for</mat-label>
      <mat-chip-list #chipList formControlName="keywords">
        <mat-chip *ngFor="let keyword of notifyKeywordsControl.value"
                  [removable]="true"
                  (removed)="removeKeyword(keyword)">
          {{ keyword }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="New keyword..."
               [matChipInputFor]="chipList"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addKeyword($event)">
      </mat-chip-list>
    </mat-form-field>
    <mat-divider></mat-divider>
  </mat-list>
  <mat-list formGroupName="tools">
    <h2 matSubheader>Tools</h2>
    <p matSubheader class="warning">
      <mat-icon>warning</mat-icon>
      You need to reload the game after changing these settings.
    </p>
    <mat-list-item>
      <mat-checkbox formControlName="chatRoomRefresh">
        Automatically refresh chat room search
      </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox formControlName="fpsCounter">
        FPS counter (experimental)
      </mat-checkbox>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</ng-container>
<ng-container>
  <mat-list>
    <h2 matSubheader>Data</h2>
    <mat-list-item>
      Total size of stored chat logs: {{ chatLogsSize$ | async }}
    </mat-list-item>
    <mat-list-item>
      <button mat-button mat-stroked-button color="primary" (click)="downloadDatabase()">Export database</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button mat-stroked-button color="primary" (click)="uploadDatabase()">Import database</button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</ng-container>
<ng-container>
  <mat-list>
    <h2 matSubheader>Danger zone</h2>
    <mat-list-item>
      <button mat-button mat-stroked-button color="warn" (click)="clearDatabase()">Delete database</button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</ng-container>
