<mat-toolbar>Options</mat-toolbar>
<ng-container [formGroup]="settingsForm">
  <mat-list formGroupName="notifications">
    <h2 matSubheader>Notifications</h2>
    <mat-list-item>
      <mat-checkbox formControlName="beeps">
        Beeps
      </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox formControlName="friendOnline">
        Friend online
      </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox formControlName="friendOffline">
        Friend offline
      </mat-checkbox>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <mat-list formGroupName="tools">
    <h2 matSubheader>Tools</h2>
    <mat-list-item>
      <mat-checkbox formControlName="fpsCounter">
        FPS counter (experimental)
      </mat-checkbox>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</ng-container>
<ng-container>
  <mat-list>
    <h2 matSubheader>Data</h2>
    <mat-list-item>
      Total size of stored chat logs: {{ chatLogsSize$ | async }}
    </mat-list-item>
    <mat-list-item>
      <button mat-button mat-stroked-button color="primary" class="primary-character-btn" (click)="downloadDatabase()">Export database</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button mat-stroked-button color="primary" class="primary-character-btn" (click)="uploadDatabase()">Import database</button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</ng-container>
