<mat-toolbar>
  <span *ngIf="loggedIn; else notLoggedInTemplate">Logged in as {{ player.Name }}</span>
  <ng-template #notLoggedInTemplate>Not logged in</ng-template>
</mat-toolbar>

<button mat-button (click)="openLogViewer()">Log Viewer</button>

<mat-list *ngIf="loggedIn">
  <h3 mat-subheader>Online Friends</h3>
  <mat-list-item *ngFor="let friend of onlineFriends">
    <mat-icon mat-list-icon>person</mat-icon>
    <h4 mat-line>{{ friend.MemberName }} <span class="member-number">({{ friend.MemberNumber }})</span></h4>
    <p mat-line>
      <ng-container *ngIf="friend.ChatRoomName; else noChatRoom">
        <ng-container *ngIf="friend.ChatRoomName === '-Private-'; else publicChatRoom">
          <span class="unavailable-chat-room">Private chat room</span>
        </ng-container>
        <ng-template #publicChatRoom>
          Chat room: {{ friend.ChatRoomName }}
        </ng-template>
      </ng-container>
      <ng-template #noChatRoom>
        <span class="unavailable-chat-room">Not in a chat room</span>
      </ng-template>
    </p>
  </mat-list-item>
</mat-list>
