table {
  width: 100%;
}

.member-number {
  color: rgb(121, 121, 121);
}

.unavailable-chat-room {
  font-style: italic;
}

.more-characters-menu-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.primary-character-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.container {
  display: flex;

  .spacer {
    flex: 1 1 auto;
  }
}
