time {
  padding-right: 10px;
  white-space: nowrap;
}

.line {
  font-size: 1rem;
  overflow: auto; /** Prevent Zalgo bleeding all over the place **/
  display: flex; /** Remove space in front of some rendered messages, indents message when using multiple lines **/

  .content {
    white-space: pre-wrap;
  }
}

.sender {
  text-shadow: 1px 1px 1px grey;
}

.server-message {
  font-weight: bold;
}

.whisper {
  font-style: italic;
}
