/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  min-width: 780px;
}

/*
html {
  min-width: 800px;
  max-width: auto;
  min-height: 600px;
}
*/
